name: tag

on:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Get current version
        id: current
        run: |
          ver=$(jq -r .version package.json)
          echo "version=$ver" >> $GITHUB_OUTPUT

      - name: Get previous version from main
        id: previous
        run: |
          prev_ver=$(git show HEAD^:package.json | jq -r .version)
          echo "version=$prev_ver" >> $GITHUB_OUTPUT

      - name: Check for version change
        id: changed
        run: |
          if [ "${{ steps.current.outputs.version }}" != "${{ steps.previous.outputs.version }}" ]; then
          echo "changed=true" >> $GITHUB_OUTPUT
          else
          echo "changed=false" >> $GITHUB_OUTPUT
          fi
      - name: Tag and push version
        if: steps.changed.outputs.changed == 'true'
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag "v${{ steps.current.outputs.version }}"
          git push origin "v${{ steps.current.outputs.version }}"
